:root {
  --black: #1c1c1c;
  --gray: #919191;
  --light-gray: #ebebeb;
  --hot-pink: #ff214f;
  --primary-font: "Roboto", sans-serif;
}

body {
  background-color: var(--light-gray);
  font-family: var(--primary-font);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 25px;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.section-primary {
  padding: 14rem 25px;
  background: var(--light-gray);
}
.section-secondary {
  padding: 14rem 25px;
  background: var(--black);
}

.section__title__container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.section__title--primary,
.section__title--secondary,
.section__title--tertiary {
  flex-shrink: 0;
}

.section__title--primary {
  color: var(--black);
}
.section__title--secondary {
  color: var(--hot-pink);
}
.section__title--tertiary {
  color: var(--light-gray);
}

.line--primary,
.line--secondary,
.line--tertiary {
  width: 100%;
  height: 1px;
  margin-left: 5px;
}

.line--primary {
  background: var(--black);
}

.line--secondary {
  background: var(--hot-pink);
}

.line--tertiary {
  background: var(--light-gray);
}

.section__text--primary,
.section__text--secondary,
.section__text--tertiary {
  font-size: 3rem;
  font-weight: 300;
}

.section__text--primary {
  color: var(--black);
}
.section__text--secondary {
  color: var(--hot-pink);
}
.section__text--tertiary {
  color: var(--light-gray);
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.photo-gallery > img {
  height: 100%;
  width: 100%;
}

.long-img {
  grid-row: span 2;
}

.logo-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media only screen and (max-width: 850px) {
  .photo-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .line--primary,
  .line--secondary,
  .line--tertiary {
    display: none;
  }

  .section__title__container {
    justify-content: center;
  }

  .section__text--primary,
  .section__text--secondary,
  .section__text--tertiary {
    font-size: 2.5rem;
    text-align: center;
  }
}
